# Unnecessary system file for macOS
.DS_Store

# Python bytecode / cache
*.pyc
__pycache__
db.sqlite3

# IDE-specific settings files (JetBrains), exclude from the project
.idea
.vscode
.vs

# Django Secure
*.env

# Prettier ignore file
.prettierignore

# ignore the flutter test coverage files
coverage/

# Coverage.py result files
.coverage
htmlcov/

/android/app/.cxx/

mocks.mocks.dart