# Unnecessary system file for macOS
.DS_Store

*.pyc
__pycache__
db.sqlite3

# IDE-specific settings files (JetBrains), exclude from the project
.idea

# Django Secure
*.env

*.vscode

.prettierignore

.vs

# ignore the flutter test coverage files 
coverage/