#site-name img {
    max-width: 100px; /* Adjust the width */
    height: auto; /* Maintain aspect ratio */
}

#header .brand-logo img {
    max-height: 50px; /* Adjust height if needed */
    width: auto;
}

.login .brand-logo img {
    max-width: 200px; /* Adjust size on login page */
    height: auto;
}